/* Aside.css */
.aside_section {
    position: fixed;
    top: 20px;
    right: 0;
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  h2, h3 {
    color: #333;
  }
  
  .weather-widget, .youtube-video, .access-map {
    margin-bottom: 20px;
  }
  
  iframe {
    border-radius: 5px;
  }
  
  .weather-widget iframe,
  .youtube-video iframe,
  .access-map iframe {
    border: none;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  
  .aside_section {
    max-width: 350px;
    width: 100%;
  }
  